:root {
  --bg-color: #ffffff;
  --primary-color: #2D50E6;
  --title-color: #5d5d5d;
  --text-color: #7d7d7d;
  --grey-color: #f7f7f7;
  --light-color: #eeeeee;
  --alert-color: #D95762;
  --success-color: #4CAF50;
  --border-color: #EAE9E3;
}

@font-face {
  font-family: Circular;
  src: url("./styles/fonts/CircularStd-Book.otf") format("opentype");
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-weight: 400;
  font-family: Circular;
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5rem;
}